<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
    <div ng-repeat="item in items">
       {{ item }}<br>
    </div>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input id="m" ng-model="newItem" autocomplete="off" type="text" placeholder="Envia mensaje" />
        </label>
        <button class="button button-small" ng-click="add(newItem)">
          Enviar
        </button>
      </div>

    </div>
  </ion-content>
</ion-view>
